<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%=pagetitle%> | Portfolio</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

     <% include ../views/partials/header %>
    <style>
        body{ padding-top:80px; }
    </style>

</head>

<body>

 <div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-rocket" style="margin-right:5px;"></span>Welcome</h1>

        <p>Feel free to wander around the students' work</p>
    </div>

        <% if(typeof search !== 'undefined'){%>
            <%if (searchresults.length>0){%>
                <h1>Search results for '<%=search%>'</h1>
                        <% for(var i=0; i<searchresults.length; i++){%>
                            <div class="card col-xs-4">
                                <h4 class="card-title"> <%= searchresults[i].name %></h4>
                                <a href = "/portfolio/<%=searchresults[i]._id%>"class="btn btn-primary card-link">View Portfolio</a>
                            </div>
                        <% } %>
                <%} else{%>
                    <h1 style="color:red">No results found</h1>
            <%}%>
         <% }else{ %>
            <div class="row">
                    <% for(var i=0; i<students.length; i++){%>
                        <div class="card col-xs-4">
                            <h4 class="card-title"> <%= students[i].name %></h4>
                            <a href = "/portfolio/<%=students[i]._id%>"class="btn btn-primary card-link">View Portfolio</a>
                        </div>
                    <% } %>
            </div>
        <%}%>

</div>


        <% include ../views/partials/footer %>

</body>
</html>

<style>
        .card {
            padding: 10px;
            padding-top: 20px;
            background: #18bc9c;
            
            border-radius: 5px;
            text-align: center;
            margin: 10px 3% 1% 3%;
            height: 190px;
            width: calc(80% * (1/3));
        }

        .card .card-title {
            color: white;
            font-size: 2em;
            font-weight: bold;
            text-transform: capitalize;
        }

        .card .card-link {
            margin-top: 40px;
            font-size: 1.1em;
            font-weight: bold;
            width: 90%;
            border: 2px solid white;
            color: white;
            background: transparent;
            transition: background-color 0.5s ease;
        }

        .card .card-link:hover {
            color: #18bc9c;
            background: white;
            transition: background-color 0.5s ease;
        }
</style>