<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%=pagetitle%> | Portfolio</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <% include ../views/partials/header %>
    <style>
        body{ padding-top:80px; }
    </style>

</head>

<body>

<div class="container">

    <div class="row">

     <div class="jumbotron text-center">
        <h1><span class="fa fa-rocket" style="margin-right:5px;"></span><%= userfound.name%>'s portfolio</h1>
        <%if (userfound.profileimg.path){%>
               <img src ="<%= userfound.profileimg.path.replace('public', '')%>" style="width:300px; display:block text-align:center;">
            <%}else{%>
                <img src ="/uploads/missing.png" style="width:300px; display:block text-align:center;">
            <%}%>
    </div>

        <!-- LOCAL INFORMATION -->
        <div class="row">
                <% for(var i=0; i<works.length; i++){%>
                    <div class="card col-xs-4">
                        <h4 class="card-title"> <%= works[i].title %></h4>
                        <% var x%>
                        <%if(works[i].img.path){%>
                            <% x = works[i].img.path.replace('public', '')%>
                        <%}else{%>
                        <% x = ''}%>
                        <a onclick="trigger('<%= works[i].title %>', '<%= works[i].URL %>', '<%= x %>')" data-toggle="modal" data-target="#previewWork" class="btn btn-primary card-link">Preview</a>
                        <% x= ''%>
                    </div>
                <% } %>
        </div>

    </div>

</div>

<div class="modal fade" id = "previewWork" tabindex="-1" role="dialog" style = "">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div id ="modal-submit-fields" style ="padding: 20px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id ="prevTitle"></h4>
              </div>
              <div class="modal-body">     
                    <img id="prevImg" src="" style="width:100%;">
                    <center><a id ="prevURL" href="" target="_blank" class="btn btn-primary" style="margin: 10px;">GO TO REPO</a></center>
            </div>
     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>

        <% include ../views/partials/footer %>

</html>

<script>
function trigger(title, url , img){
    $("#prevTitle").html(title +' by <%= userfound.name%>');
    if(img ==''){
        $("#prevImg").attr('src','/notfound.jpg');
    }else{
       $("#prevImg").attr('src',img);
    }
    $("#prevURL").attr('href',url);
}
</script>


<style>
        .card {
            padding: 10px;
            padding-top: 20px;
            background: #18bc9c;
            
            border-radius: 5px;
            text-align: center;
            margin: 10px 3% 1% 3%;
            height: 190px;
            width: calc(80% * (1/3));
        }

        .card .card-title {
            color: white;
            font-size: 2em;
            font-weight: bold;
            text-transform: capitalize;
        }

        .card .card-link {
            margin-top: 40px;
            font-size: 1.1em;
            font-weight: bold;
            width: 90%;
            border: 2px solid white;
            color: white;
            background: transparent;
            transition: background-color 0.5s ease;
        }

        .card .card-link:hover {
            color: #18bc9c;
            background: white;
            transition: background-color 0.5s ease;
        }
</style>

