</html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> <%=pagetitle%> | Portfolio</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link href="plugins/file-upload/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <script src="plugins/file-upload/js/fileinput.min.js"></script>

    <% include ../views/partials/header %>

    <style>
        body{ padding-top:80px; }
    </style>

</head>

<body>

<div class="container">

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-success"><%= message %></div>
        <% } %>

   <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> <%= user.name%>'s profile</h1>
        <div>
            <%if (user.profileimg.path){%>
               <img src ="<%= user.profileimg.path.replace('public', '')%>" style="width:300px; display:block text-align:center; margin-bottom:10px;">
            <%}else{%>
                <img src ="/uploads/missing.png" style="width:300px; display:block text-align:center; margin-bottom:10px;">
            <%}%>
        </div>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <button type="button" class="btn btn-primary btn-sm" style ="" data-toggle="modal" data-target="#newWork">Add Work</button>
         <button type="button" class="btn btn-primary btn-sm" style ="" data-toggle="modal" data-target="#changedp">Change Profile Picture</button>

    </div>

    <div class="row">

                <!-- LOCAL INFORMATION -->
        <div class="row">
                <% for(var i=0; i<works.length; i++){%>
                    <div class="card col-xs-4">
                        <h4 class="card-title"> <%= works[i].title %></h4>
                        <% var x%>
                        <%if(works[i].img.path){%>
                            <% x = works[i].img.path.replace('public', '')%>
                        <%}else{%>
                        <% x = ''}%>
                        <a onclick="trigger('<%= works[i].title %>', '<%= works[i].URL %>', '<%= x %>')" data-toggle="modal" data-target="#previewWork" class="btn btn-primary card-link">Preview</a>
                        <% x= ''%>
                    </div>
                <% } %>
        </div>



    </div>

<div class="modal fade" id = "newWork" tabindex="-1" role="dialog" style = "">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div id ="modal-submit-fields" style ="padding: 20px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Work</h4>
              </div>
              <div class="modal-body">     
                <form class="form" method="POST" action="/profile" enctype="multipart/form-data">
                    <div class="form-group">
                        <input name = "title" type="text" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <input name = "URL" type="url" class="form-control" placeholder="Link">
                    </div>
                    <div class="form-group" style="display:none">
                        <input name = "user_id" class="form-control" value="<%= user._id%>">
                    </div>
                    <div class="form-group">
                        <input type="file" name="work_img" accept="image/*" id="img_upload">
                    </div>

                    <center><button type="submit" class="btn btn-default">Submit</button></center>
                </form>
            </div>
     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id = "changedp" tabindex="-1" role="dialog" style = "">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div id ="modal-submit-fields" style ="padding: 20px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Profile Picture</h4>
              </div>
              <div class="modal-body">     
                <form class="form" method="POST" action="/changedp" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="profile_img" accept="image/*" id="img_upload2" required>
                    </div>

                     <div class="form-group" style="display:none">
                        <input name = "user_id" class="form-control" value="<%= user._id%>">
                    </div>

                    <center><button type="submit" class="btn btn-default">Submit</button></center>
                </form>
            </div>
     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

<div class="modal fade" id = "previewWork" tabindex="-1" role="dialog" style = "">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <div id ="modal-submit-fields" style ="padding: 20px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id ="prevTitle"></h4>
              </div>
              <div class="modal-body">     
                    <img id="prevImg" src="" style="width:100%;">
                    <center><a id ="prevURL" href="" target="_blank" class="btn btn-primary" style="margin: 10px;">GO TO REPO</a></center>
            </div>
     </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

        <% include ../views/partials/footer %>

</body>

</html>

<script>
    $("#img_upload").fileinput({'showUpload':false});
    $("#img_upload2").fileinput({'showUpload':false});

function trigger(title, url , img){
    $("#prevTitle").html(title +' by <%= user.name%>');
    if(img ==''){
        $("#prevImg").attr('src','/notfound.jpg');
    }else{
       $("#prevImg").attr('src',img);
    }
    $("#prevURL").attr('href',url);
}
</script>

<style>
        .card {
            padding: 10px;
            padding-top: 20px;
            background: #18bc9c;
            border-radius: 5px;
            text-align: center;
            margin: 10px 3% 1% 3%;
            height: 190px;
            width: calc(80% * (1/3));
        }

        .card .card-title {
            color: white;
            font-size: 2em;
            font-weight: bold;
            text-transform: capitalize;
        }

        .card .card-link {
            margin-top: 40px;
            font-size: 1.1em;
            font-weight: bold;
            width: 90%;
            border: 2px solid white;
            color: white;
            background: transparent;
            transition: background-color 0.5s ease;
        }

        .card .card-link:hover {
            color: #18bc9c;
            background: white;
            transition: background-color 0.5s ease;
        }
</style>
